body{
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS;
}

/* HEADER */
header{
    text-align: center;
    font-size: 25px;
    color:white;
    background-color: #0493e0;
    padding: 20px;
}

/* NAVIGATION */
nav{
    background-color: #0377b6;
    text-align: center;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

nav a:hover{
    text-decoration: underline;
}

/* MAIN */
main{
    background: url('photo_2026-01-25_14-20-00.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding: 30px;
}

/* ABOUT SHOP */
.about-shop{
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    margin-bottom: 30px;
}

.catalog-title{
    text-align: center;
}

/* PRODUCTS */
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product{
    width: 45%;
    height: 200px;
    border: 2px solid black;
    display: flex;
    background-color: white;
    transition: 0.3s all;
}

.product:hover{
    background-color:#cfefff;
    cursor: pointer;
}


.icon{
    border-right: 2px solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon img{
    height: 90px;
}

.icon h1{
    font-size: 18px;
}

.icon h2{
    font-size: 16px;
}

.about{
    width: 70%;
    padding: 10px;
}

.order-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #0493e0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.order-btn:hover{
    background-color: #0377b6;
}

/* FOOTER */
footer{
    background-color: #0493e0;
    color: white;
    text-align: center;
    padding: 20px;
}
